.dialog-frame.aidava-tagger {
  max-width: 350px;
}

ol.settings {
  font-size: 0.9em;

  li {
    margin: 0 !important;
  }

  label {
    display: inline-block;
    float: none;
    min-width: 90px;
    margin-left: 20px;
    padding-top: 4px;
    text-align: right;
  }

  input {
    width: 80px !important;
  }
}
